<form class="ui stacked segment form" action="/listassessment/${_assessmentlist.id}/addAssessment" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Weight</label>
            <input placeholder="Weight" type="text" name="Weight">
        </div>
        <div class="field">
            <label>Chest</label>
            <input placeholder="Chest" type="text" name="Chest">
        </div>
        <div class="field">
            <label>Thigh</label>
            <input placeholder="Thigh" type="text" name="Thigh">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Upper Arm</label>
            <input placeholder="Upper Arm" type="text" name="UpperArm">
        </div>
        <div class="field">
            <label>Waist</label>
            <input placeholder="Waist" type="text" name="Waist">
        </div>
        <div class="field">
            <label>Hips</label>
            <input placeholder="Hips" type="text" name="Hips">
        </div>

    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>